body {
    font-family: Arial, sans-serif;
    background-image: url("assets/background.svg");
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}



#btn-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    gap: 3rem;
    margin-top: 9%;
}


button {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #00ff9d;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover,
button:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

button:active {
    background: var(--color);
    color: #fff;
}


#info {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}


#status-info {
    font-size: 18px;
    color: #00ffb3;
}

#task-list {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

li {
    font-size: 16px;
    color: #ff3300;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 0, 200);
}